---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/find/tt0266543?api_key=c29379565234e20d7cbf4f2e835c3e41&external_source=imdb_id&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 7372401177dd230ae742daf85beeced643368ae6
      X-Memc-Age:
      - '19163'
      X-Memc-Expires:
      - '2437'
      Etag:
      - W/"f96b14365f8d1b177a34851502b4d39e"
    body:
      encoding: ASCII-8BIT
      string: '{"movie_results":[{"adult":false,"backdrop_path":"/yzqaKAhglTrkeOfuIXYYArf0WnA.jpg","id":12,"title":"Finding
        Nemo","original_language":"en","original_title":"Finding Nemo","overview":"Nemo,
        an adventurous young clownfish, is unexpectedly taken from his Great Barrier
        Reef home to a dentist''s office aquarium. It''s up to his worrisome father
        Marlin and a friendly but forgetful fish Dory to bring Nemo home -- meeting
        vegetarian sharks, surfer dude turtles, hypnotic jellyfish, hungry seagulls,
        and more along the way.","poster_path":"/eHuGQ10FUzK1mdOY69wF5pGgEf5.jpg","media_type":"movie","genre_ids":[16,10751],"popularity":119.137,"release_date":"2003-05-30","video":false,"vote_average":7.825,"vote_count":17024}],"person_results":[],"tv_results":[],"tv_episode_results":[],"tv_season_results":[]}'
  recorded_at: Sat, 26 Nov 2022 18:52:50 GMT
recorded_with: VCR 6.1.0
