---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/find/tt0266543?api_key=c29379565234e20d7cbf4f2e835c3e41&external_source=imdb_id&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"53e2cd300aecbfd4a584d42c278b8f52"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '3943'
      X-Memc-Expires:
      - '17657'
      X-Memc-Key:
      - feaa674eaffd6e230b76773b53c17993
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '25'
      X-Ratelimit-Reset:
      - '1455031026'
    body:
      encoding: UTF-8
      string: '{"movie_results":[{"adult":false,"backdrop_path":"/n2vIGWw4ezslXjlP0VNxkp9wqwU.jpg","genre_ids":[16,10751],"id":12,"original_language":"en","original_title":"Finding
        Nemo","overview":"A tale which follows the comedic and eventful journeys of
        two fish, the fretful Marlin and his young son Nemo, who are separated from
        each other in the Great Barrier Reef when Nemo is unexpectedly taken from
        his home and thrust into a fish tank in a dentist''s office overlooking Sydney
        Harbor. Buoyed by the companionship of a friendly but forgetful fish named
        Dory, the overly cautious Marlin embarks on a dangerous trek and finds himself
        the unlikely hero of an epic journey to rescue his son.","release_date":"2003-11-29","poster_path":"/zjqInUwldOBa0q07fOyohYCWxWX.jpg","popularity":4.132987,"title":"Finding
        Nemo","video":false,"vote_average":7.3,"vote_count":2941}],"person_results":[],"tv_results":[],"tv_episode_results":[],"tv_season_results":[]}'
  recorded_at: Tue, 09 Feb 2016 15:17:01 GMT
recorded_with: VCR 3.0.1
