---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/find/nm0298350?api_key=c29379565234e20d7cbf4f2e835c3e41&external_source=imdb_id&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"6690fa37a3e0475a3dbbccac5554fb8f"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '1009'
      X-Memc-Expires:
      - '9791'
      X-Memc-Key:
      - e40ec96533b45cf52000eb2d8938fbf9
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1435251769'
    body:
      encoding: UTF-8
      string: '{"movie_results":[],"person_results":[{"adult":false,"id":1221227,"known_for":[{"backdrop_path":"/2eP5hTWpFap5vItahoR6zGddknl.jpg","first_air_date":"2008-09-28","genre_ids":[35],"id":14880,"original_language":"en","original_name":"Little
        Britain USA","overview":"Little Britain USA is an American spin-off-continuation
        of British sketch show, Little Britain, produced and aired by HBO.\n\nAs in
        the British series, Matt Lucas and David Walliams play the majority of the
        characters: originals such as Lou and Andy, Daffyd Thomas, Sebastian Love,
        Marjorie Dawes and Vicky Pollard, as well as new characters not previously
        seen in the British series.\n\nThe first series started filming in March 2008
        in Wilmington, North Carolina. HBO showed the first episode of the season
        in the United States on September 28, 2008; The Movie Network broadcast it
        in Canada the same day, followed by BBC One on October 3 in the UK.\n\nNew
        guest-stars include Rachael Harris, Bob Stephenson, Paul Rudd, Hilarie Burton,
        Vivica A. Fox, and Sting. Michael Patrick Jann served as executive producer
        of the series and directed the majority of the shows. David Schwimmer directed
        studio-based segments of the show. Rosie O''Donnell also makes an appearance
        in a \"Fat Fighters\" segment.\n\nThe series was released on DVD in the UK
        by 2entertain in August 2009.","origin_country":["US"],"poster_path":"/lMWsdFvvmaS11S5tNmXUccbMqQS.jpg","popularity":1.236838,"name":"Little
        Britain USA","vote_average":7.0,"vote_count":2,"media_type":"tv"},{"backdrop_path":"/5uBupsPsSlvQl7BROqLFooFMToj.jpg","first_air_date":"1984-10-16","genre_ids":[18],"id":2072,"original_language":null,"original_name":"The
        Bill","overview":"The Bill is a police procedural television series that was
        broadcast on the ITV network from 16 October 1984 until 31 August 2010. The
        programme originated from a one-off drama, entitled Woodentop, which was broadcast
        in August 1983. In its final year on air, The Bill was broadcast once a[...]
