---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/find/121361?api_key=c29379565234e20d7cbf4f2e835c3e41&external_source=tvdb_id&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"cfbfb9b61147f4c094065aaae715c017"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '872'
      X-Memc-Expires:
      - '9928'
      X-Memc-Key:
      - b2b2d5b5c403479427a32475da3e48f4
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '21'
      X-Ratelimit-Reset:
      - '1435331837'
    body:
      encoding: UTF-8
      string: '{"movie_results":[],"person_results":[],"tv_results":[{"backdrop_path":"/aKz3lXU71wqdslC1IYRC3yHD6yw.jpg","first_air_date":"2011-04-17","genre_ids":[10765,18],"id":1399,"original_language":"en","original_name":"Game
        of Thrones","overview":"Seven noble families fight for control of the mythical
        land of Westeros. Friction between the houses leads to full-scale war. All
        while a very ancient evil awakens in the farthest north. Amidst the war, a
        neglected military order of misfits, the Night''s Watch, is all that stands
        between the realms of men and icy horrors beyond.\n\n","origin_country":["US"],"poster_path":"/jIhL6mlT7AblhbHJgEoiBIOUVl1.jpg","popularity":32.016915,"name":"Game
        of Thrones","vote_average":9.1,"vote_count":278}],"tv_episode_results":[{"air_date":"1956-02-26","episode_number":22,"name":"Place
        of Shadows","id":356630,"season_number":1,"still_path":"/c0Qt5uorF3WHv9pMKhV5uprNyVl.jpg","show_id":5273,"vote_average":0.0,"vote_count":0}],"tv_season_results":[{"air_date":"1978-04-04","id":29649,"name":"Season
        1","poster_path":"/jlRY4btMdYdjJyj0XEBWMsCFNbi.jpg","season_number":1,"show_id":19239}]}'
  recorded_at: Fri, 26 Jun 2015 15:17:16 GMT
recorded_with: VCR 2.9.3
