---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/find/121361?api_key=c29379565234e20d7cbf4f2e835c3e41&external_source=tvdb_id&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 5ccd1a9f68f6204d925c564d4356392f8cc19540
      X-Memc-Age:
      - '10819'
      X-Memc-Expires:
      - '10781'
      Etag:
      - W/"24c1884359e169a021576cd6b2ce9503"
    body:
      encoding: ASCII-8BIT
      string: '{"movie_results":[],"person_results":[],"tv_results":[{"adult":false,"backdrop_path":"/suopoADq0k8YZr4dQXcU6pToj6s.jpg","id":1399,"name":"Game
        of Thrones","original_language":"en","original_name":"Game of Thrones","overview":"Seven
        noble families fight for control of the mythical land of Westeros. Friction
        between the houses leads to full-scale war. All while a very ancient evil
        awakens in the farthest north. Amidst the war, a neglected military order
        of misfits, the Night''s Watch, is all that stands between the realms of men
        and icy horrors beyond.","poster_path":"/7WUHnWGx5OO145IRxPDUkQSh4C7.jpg","media_type":"tv","genre_ids":[10765,18,10759],"popularity":798.035,"first_air_date":"2011-04-17","vote_average":8.43,"vote_count":19823,"origin_country":["US"]}],"tv_episode_results":[{"id":356630,"name":"Place
        of Shadows","overview":"A young man tries to insinuate his way into a monastery,
        in order to gain revenge on a thief whom he blames for ruining his life.","media_type":"tv_episode","vote_average":7.0,"vote_count":1,"air_date":"1956-02-26","episode_number":22,"production_code":"","runtime":26,"season_number":1,"show_id":5273,"still_path":"/nXcoXAXPPA6vDcyaVrK87TOxlcH.jpg"}],"tv_season_results":[]}'
  recorded_at: Sat, 26 Nov 2022 18:52:50 GMT
recorded_with: VCR 6.1.0
