---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/3572/season/1/episode/1?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - b75d8d1dc9599068b8938528b097c06faaa9e4df
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '17078'
      Etag:
      - W/"da89be1fc919812f47bc031653bdc2c2"
    body:
      encoding: ASCII-8BIT
      string: '{"air_date":"1973-10-24","crew":[{"department":"Directing","job":"Director","credit_id":"5257532219c29531db1145b6","adult":false,"gender":2,"id":15663,"known_for_department":"Directing","name":"Joseph
        Sargent","original_name":"Joseph Sargent","popularity":2.522,"profile_path":"/tdRughmKCOifv5nHJLSkrCGhG9J.jpg"},{"department":"Writing","job":"Writer","credit_id":"5257532219c29531db114592","adult":false,"gender":0,"id":12140,"known_for_department":"Writing","name":"Abby
        Mann","original_name":"Abby Mann","popularity":2.43,"profile_path":null},{"job":"Editor","department":"Editing","credit_id":"59c2fe799251415b54002a73","adult":false,"gender":2,"id":1704093,"known_for_department":"Editing","name":"John
        Kaufman","original_name":"John Kaufman","popularity":0.98,"profile_path":null},{"job":"Director
        of Photography","department":"Camera","credit_id":"59c2fe6f9251415b24002c88","adult":false,"gender":2,"id":151454,"known_for_department":"Camera","name":"Gerald
        Perry Finnerman","original_name":"Gerald Perry Finnerman","popularity":0.857,"profile_path":null},{"job":"Art
        Direction","department":"Art","credit_id":"59c2fe8b9251415b32002b0c","adult":false,"gender":2,"id":7186,"known_for_department":"Art","name":"John
        J. Lloyd","original_name":"John J. Lloyd","popularity":0.706,"profile_path":"/58BrNFWf31APqVfPEdJveqLnmfy.jpg"}],"episode_number":1,"guest_stars":[{"character":"Jerry
        Talaba","credit_id":"5257532219c29531db1145e2","order":516,"adult":false,"gender":2,"id":1037,"known_for_department":"Acting","name":"Harvey
        Keitel","original_name":"Harvey Keitel","popularity":19.833,"profile_path":"/7P30hza1neYWW3r7rSQOC736K2Z.jpg"},{"character":"Crew
        Cut Hostage","credit_id":"5257532219c29531db114604","order":639,"adult":false,"gender":2,"id":1215961,"known_for_department":"Acting","name":"Rick
        Hurst","original_name":"Rick Hurst","popularity":7.161,"profile_path":"/9BeOCN6X4GBVStGVidxdLlWR4sO.jpg"},{"character":"Jack
        Murzie","credit_id":"5257532219c29531db114626","order":722,"adult":false,"gender":2,"id":157936,"known_for_department":"Acting","name":"James
        Sloyan","original_name":"James Sloyan","popularity":3.576,"profile_path":"/zlQIU509Ew9ekIVQd3HzjYj5g6U.jpg"},{"character":"Calvelli","credit_id":"5257532219c29531db114648","order":814,"adult":false,"gender":2,"id":2555,"known_for_department":"Acting","name":"David
        Proval","original_name":"David Proval","popularity":8.141,"profile_path":"/ku3LWQXiJ80nWgs21fKvTMaR6Ui.jpg"}],"name":"Siege
        of Terror","overview":"Kojak has two hours to free the hostages from three
        robbers in an Army surplus store.","id":255746,"production_code":"","runtime":60,"season_number":1,"still_path":"/pAznrflVb54IkFCWxep6ECgagPV.jpg","vote_average":0.0,"vote_count":0}'
  recorded_at: Sat, 26 Nov 2022 18:53:01 GMT
recorded_with: VCR 6.1.0
