---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/3572/season/1/episode/1/external_ids?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 9af859d73955063d409894b9ee949fbbfd2932eb
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '17675'
      Etag:
      - W/"5287de150ca11a09e50227cd9587f8d7"
    body:
      encoding: ASCII-8BIT
      string: '{"id":255746,"imdb_id":"tt0621366","freebase_mid":"/m/06x0z6m","freebase_id":null,"tvdb_id":null,"tvrage_id":93817,"wikidata_id":null}'
  recorded_at: Sat, 26 Nov 2022 18:53:02 GMT
recorded_with: VCR 6.1.0
