---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/3572/season/1/episode/1/external_ids?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"0cda9c766340b9d16b3dbdc1f067bf42"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '1475'
      X-Memc-Expires:
      - '20125'
      X-Memc-Key:
      - 4f59bf153ca147795b2b418563394198
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '5'
      X-Ratelimit-Reset:
      - '1435331847'
    body:
      encoding: UTF-8
      string: '{"imdb_id":"","freebase_mid":"/m/06x0z6m","freebase_id":"","tvdb_id":null,"tvrage_id":93817,"id":255746}'
  recorded_at: Fri, 26 Jun 2015 15:17:30 GMT
recorded_with: VCR 2.9.3
