---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1399/season/1/episode/1/images?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 1e1aa2617a09f0c0a7d0496cf1dd481231384c00
      X-Memc-Age:
      - '3796'
      X-Memc-Expires:
      - '11863'
      Etag:
      - W/"c37f6e05b8632ded3b49333f5d421199"
    body:
      encoding: ASCII-8BIT
      string: '{"id":63056,"stills":[{"aspect_ratio":1.778,"height":1080,"iso_639_1":null,"file_path":"/9hGF3WUkBf7cSjMg0cdMDHJkByd.jpg","vote_average":5.454,"vote_count":3,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":null,"file_path":"/xIfvIM7YgkADTrqp23rm3CLaOVQ.jpg","vote_average":5.322,"vote_count":5,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":null,"file_path":"/wrGWeW4WKxnaeA8sxJb2T9O6ryo.jpg","vote_average":5.32,"vote_count":7,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":null,"file_path":"/qYqCWKoiyR845nUOotJ7rKIXGPM.jpg","vote_average":5.312,"vote_count":1,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_[...]
