---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/keyword/1721/movies?api_key=8a221fc31fcdf12a8af827465574ffc9&language=en&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - "\"45184af9bacd9a6812204dddf49c528d\""
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      X-Memc-Key:
      - 57a1d1079cc83ba2e4adb6cf6164868e
    body:
      encoding: UTF-8
      string: "{\"id\":1721,\"page\":2,\"results\":[{\"adult\":false,\"backdrop_path\":\"/iAvHedeRpQXb5S8qNhVolxMTxlX.jpg\",\"id\":10732,\"original_title\":\"La
        fille de d'Artagnan\",\"release_date\":\"1994-08-24\",\"poster_path\":\"/jKc1W3Obb7JqsSQ3IU6FwVUFdtr.jpg\",\"popularity\":0.5701125,\"title\":\"La
        fille de d'Artagnan\",\"vote_average\":7.0,\"vote_count\":1},{\"adult\":false,\"backdrop_path\":\"/v6YHlUoqZsCyFnB8utdbWyTgWlW.jpg\",\"id\":11509,\"original_title\":\"Silverado\",\"release_date\":\"1985-07-10\",\"poster_path\":\"/pQqdoCAjvNnt7ohnTNHIhtli1zI.jpg\",\"popularity\":0.23,\"title\":\"Silverado\",\"vote_average\":7.0,\"vote_count\":16},{\"adult\":false,\"backdrop_path\":\"/8SSIVqKnjv7UGITEemFwEQ0j9iS.jpg\",\"id\":18311,\"original_title\":\"A
        Fei jingjyuhn\",\"release_date\":\"1990-12-15\",\"poster_path\":\"/qZnK1MRFcuxJS3DAWjcACR9zSxG[...]
