---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/1/changes?api_key=c29379565234e20d7cbf4f2e835c3e41&end_date=2014-03-01&language=en&start_date=2014-02-19
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - d36347f36ab4938b8846bea1ec34bbd32ee510fd
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '300'
      Etag:
      - W/"4c3a5f89f6b10ccaeda455007c84417f"
    body:
      encoding: ASCII-8BIT
      string: '{"changes":[{"key":"place_of_birth","items":[{"id":"53077a22925141110800002f","action":"updated","time":"2014-02-21
        16:09:06 UTC","value":"Modesto - California - USA","original_value":"Modesto,
        California, USA"}]},{"key":"images","items":[{"id":"53077a69925141110e00002c","action":"added","time":"2014-02-21
        16:10:17 UTC","value":{"profile":{"file_path":"/d8I8oke7Y5K0vlcz6LVCoFHzkxx.jpg"}}},{"id":"53077a79925141110e000035","action":"deleted","time":"2014-02-21
        16:10:33 UTC","original_value":{"profile":{"file_path":"/rkO2HyUHIbXTT4EuOyub42zstrA.jpg"}}}]},{"key":"also_known_as","items":[{"id":"53077a0f925141111a00003e","action":"added","time":"2014-02-21
        16:08:47 UTC","value":["George Walton Lucas Jr. "]}]}]}'
  recorded_at: Sat, 26 Nov 2022 18:52:58 GMT
recorded_with: VCR 6.1.0
