---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/1/combined_credits?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"b7793c91d3f90b01b032049880301884"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      X-Memc-Key:
      - 0e0ccc10876b58931232d9073f5fe1f0
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '36'
      X-Ratelimit-Reset:
      - '1435314624'
    body:
      encoding: UTF-8
      string: '{"cast":[{"adult":false,"character":"Himself","credit_id":"52fe43cac3a36847f806fc33","id":4539,"original_title":"Hearts
        of Darkness: A Filmmaker''s Apocalypse","poster_path":"/pfDFjs04gb0PGP4qTDm07q370mW.jpg","release_date":"1991-11-27","title":"Hearts
        of Darkness: A Filmmaker''s Apocalypse","media_type":"movie"},{"adult":false,"character":"Himself","credit_id":"52fe45809251416c75058c67","id":13611,"original_title":"Heckler","poster_path":"/n3uZEZVlPmgJz3Pnijz94sw69Ao.jpg","release_date":"2007-01-01","title":"Heckler","media_type":"movie"},{"adult":false,"character":"Himself","credit_id":"52fe45b59251416c9103bb99","id":35795,"original_title":"From
        ''Star Wars'' to ''Jedi'': The Making of a Saga","poster_path":"/yJBLTwVRlCniDiJTes1KPUCwE2i.jpg","release_date":"1983-12-03","title":"From
        ''Star Wars'' to ''Jedi'': The Making of a Saga","media_type":"movie"},{"adult":false,"character":"Himself
        (voice)","credit_id":"52fe4624c3a36847f80ef089","id":42979,"original_title":"Robot
        Chicken: Star Wars","poster_path":"/3vcBL7zNVMhLdFSEh3xiquhdp1x.jpg","release_date":"2007-07-17","title":"Robot
        Chicken: Star Wars","media_type":"movie"},{"adult":false,"character":"Himself","credit_id":"52fe4684c3a36847f810367f","id":44345,"original_title":"The
        Cutting Edge: The Magic of Movie Editing","poster_path":"/oUepcj7iBKirdscldMvYre2pCtX.jpg","release_date":"2004-01-01","title":"The
        Cutting Edge: The Magic of Movie Editing","media_type":"movie"},{"adult":false,"character":"Himself","credit_id":"52fe46fcc3a368484e0aebd9","id":65083,"original_title":"The
        Beginning: Making ''Episode I''","poster_path":"/oJrl0sbRVlyq6pJ9V4l9mPXiZHL.jpg","release_date":"2001-02-01","title":"The
        Beginning: Making ''Episode I''","media_type":"movie"},{"adult":false,"character":"Himself","credit_id":"52fe47899251416c7509d0af","id":18606,"original_title":"Alien
        Planet","poster_path":"/gh282XtTrhzNQtebr7tAdkX142u.jpg","release_date":"2005-05-14","title":"Alien
        Planet","media_type":"movie"},{"adult":false,"character":"himself","credit_id":"52fe480cc3a36847f[...]
