---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/1/external_ids?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 7687c299bf3be55d2a8e078602c21c8531fb5263
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '16403'
      Etag:
      - W/"d5589024776c5edcb5c3f197bb48b996"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"freebase_mid":"/m/0343h","freebase_id":"/en/george_lucas","imdb_id":"nm0000184","tvrage_id":6490,"wikidata_id":"Q38222","facebook_id":null,"instagram_id":null,"twitter_id":""}'
  recorded_at: Sat, 26 Nov 2022 18:52:58 GMT
recorded_with: VCR 6.1.0
