---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/1/images?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - e4a471ef4d0608162905726fb84c12952ec47945
      X-Memc-Age:
      - '3046'
      X-Memc-Expires:
      - '13476'
      Etag:
      - W/"836490f5da01be0408863aaa75ca2f18"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"profiles":[{"aspect_ratio":0.666,"height":1750,"iso_639_1":null,"file_path":"/WCSZzWdtPmdRxH9LUCVi2JPCSJ.jpg","vote_average":5.252,"vote_count":4,"width":1166},{"aspect_ratio":0.667,"height":3000,"iso_639_1":null,"file_path":"/mDLDvsx8PaZoEThkBdyaG1JxPdf.jpg","vote_average":5.198,"vote_count":7,"width":2000}]}'
  recorded_at: Sat, 26 Nov 2022 18:52:58 GMT
recorded_with: VCR 6.1.0
