---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/latest?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"2ca323bcb923da871f1a83c2a9f52dba"'
      Status:
      - 200 OK
      X-Memc:
      - MISS
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '0'
      X-Memc-Key:
      - f3535a1d77fc4fccfeaaa01025d7fe11
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '16'
      X-Ratelimit-Reset:
      - '1455031036'
    body:
      encoding: UTF-8
      string: '{"adult":false,"also_known_as":[],"biography":null,"birthday":null,"deathday":null,"homepage":null,"id":1574910,"imdb_id":"","name":"Ron
        Lampkin","place_of_birth":null,"popularity":0.0,"profile_path":null}'
  recorded_at: Tue, 09 Feb 2016 15:17:12 GMT
recorded_with: VCR 3.0.1
