---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/latest?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - b866ddd0da14cb6876ea5ab1cd5f40f85e623f38
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '0'
      Etag:
      - W/"c7c51a7dfcb4c027abe5b64ab1a591d6"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"also_known_as":[],"biography":"","birthday":null,"deathday":null,"gender":0,"homepage":null,"id":3803743,"imdb_id":null,"known_for_department":"Acting","name":"Maria
        Wiens","place_of_birth":null,"popularity":0.0,"profile_path":null}'
  recorded_at: Sat, 26 Nov 2022 18:52:59 GMT
recorded_with: VCR 6.1.0
