---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/latest?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"c1333d54b68b1534a1595df05940c34a"'
      Status:
      - 200 OK
      X-Memc:
      - MISS
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '0'
      X-Memc-Key:
      - f3535a1d77fc4fccfeaaa01025d7fe11
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '30'
      X-Ratelimit-Reset:
      - '1435314624'
    body:
      encoding: UTF-8
      string: '{"adult":false,"also_known_as":[],"biography":null,"birthday":null,"deathday":null,"homepage":null,"id":1481563,"imdb_id":"","name":"Poppy
        Stockell","place_of_birth":null,"popularity":0.0,"profile_path":null}'
  recorded_at: Fri, 26 Jun 2015 10:30:20 GMT
recorded_with: VCR 2.9.3
