---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/network/1?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 8e283a1a875304f92273959f983b14ad11d3feae
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '15581'
      Etag:
      - W/"28a6fb21c8137817914c92773f411851"
    body:
      encoding: ASCII-8BIT
      string: '{"headquarters":"Minato, Tokyo Prefecture","homepage":"http://www.fujitv.co.jp","id":1,"logo_path":"/yS5UJjsSdZXML0YikWTYYHLPKhQ.png","name":"Fuji
        TV","origin_country":"JP"}'
  recorded_at: Sat, 26 Nov 2022 18:52:57 GMT
recorded_with: VCR 6.1.0
