---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/collection/10?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"a918b950a6b65ba21460815e6214f5f5"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '14503'
      X-Memc-Expires:
      - '7097'
      X-Memc-Key:
      - 6a2530654484370b802b3c08fffc83ac
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1435331837'
    body:
      encoding: UTF-8
      string: '{"id":10,"name":"Star Wars Collection","overview":"An epic space opera
        theatrical film series created by George Lucas.\r The first film in the franchise
        was originally released on May 25, 1977, by 20th Century Fox, and became a
        worldwide pop culture  phenomenon, followed by two sequels, released at three-year
        intervals. Sixteen years after the release of the trilogy''s final film, the
        first in a new prequel trilogy of films was released, again released at three-year
        intervals, with the final film released on May 19, 2005.","poster_path":"/ghd5zOQnDaDW1mxO7R5fXXpZMu.jpg","backdrop_path":"/d8duYyyC9J5T825Hg7grmaabfxQ.jpg","parts":[{"title":"Star
        Wars: Episode IV - A New Hope","id":11,"release_date":"1977-05-25","poster_path":"/tvSlBzAdRE29bZe5yYWrJ2ds137.jpg","backdrop_path":"/4iJfYYoQzZcONB9hNzg0J0wWyPH.jpg"},{"title":"Star
        Wars: Episode V - The Empire Strikes Back","id":1891,"release_date":"1980-05-17","poster_path":"/6u1fYtxG5eqjhtCPDx04pJphQRW.jpg","backdrop_path":"/AkE7LQs2hPMG5tpWYcum847Knre.jpg"},{"title":"Star
        Wars: Episode VI - Return of the Jedi","id":1892,"release_date":"1983-05-25","poster_path":"/jx5p0aHlbPXqe3AH9G15NvmWaqQ.jpg","backdrop_path":"/bvJOpyHYWACDus[...]
