---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/collection/10/images?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 1ba8e6aa93bba58cbec71a780845c0451b889ef8
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '16560'
      Etag:
      - W/"cce29952b3129c1927d62754fa2ba8fa"
    body:
      encoding: ASCII-8BIT
      string: '{"id":10,"backdrops":[{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/trf3Hi3tPOJARsCBoVMDBlpjPC4.jpg","vote_average":5.376,"vote_count":6,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/h3JDR9iruHqwGC4Dm8UbYkY9paK.jpg","vote_average":5.326,"vote_count":7,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/benqmUIQGqU7iMYrDl8aUxhXWC.jpg","vote_average":5.318,"vote_count":3,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/itH1Wlzwf6yTNa7fVkYMVUwXlhR.jpg","vote_average":5.318,"vote_count":3,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/noKFlPn2GjuUounuxtmPnkRlZpa.jpg","vote_average":5.266,"vote_count":6,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/e9mh9iqVxhon2Y7pkLZ7zItUWHX.jpg","vote_average":5.266,"vote_count":5,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/n9NcXAZIurCo9RHvMahOCT244rF.jpg","vote_average":5.252,"vote_count":4,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/e2XZ6rbBFYqWB5n5na4GCjljfDM.jpg","vote_average":5.246,"vote_count":2,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/oGf9FeB8coLGYVp3SMHjAR809Lv.jpg","vote_average":4.962,"vote_count":11,"width":1920},{"aspect_ratio":1.778,"height":2160,"iso_639_1":"en","file_path":"/kIL3Me1fuwPqYvE26N47bQuLz4a.jpg","vote_average":0.0,"vote_count":0,"width":3840}],"posters":[{"aspect_ratio":0.667,"height":1500,"iso_639_1":"en","file_path":"/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg","vote_average":5.496,"vote_count":24,"width":1000},{"aspect_ratio":0.667,"height":3000,"iso_639_1":"en","file_path":"/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg","vote_average":5.458,"vote_count":13,"width":2000},{"aspect_ratio":0.667,"height":3000,"iso_639_1":"en","file_path":"/bYbHqvRANCpuRTs0RAu10LhmVKU.jpg","vote_average":5.392,"vote_count":8,"width":2000},{"aspect_ratio":0.667,"height":3000,"iso_639_1"[...]
