---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/collection?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en&query=Disney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"de88e65225ac8489482dc4ba68e84108"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '6601'
      X-Memc-Expires:
      - '14999'
      X-Memc-Key:
      - a812db08d91eff725fa1db6fa2558a81
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '12'
      X-Ratelimit-Reset:
      - '1455031036'
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"id":377124,"backdrop_path":"/wijs7CYXYw3XY208U03ZpvSYFU7.jpg","name":"Disneynature
        Collection","poster_path":"/mB9IchZTEipWqbsaB5lwUKtOhMm.jpg"},{"id":138902,"backdrop_path":null,"name":"Disney
        Sing-Along-Songs","poster_path":"/4hYRgJYtzNqIApRWImSkfOQ5vP2.jpg"},{"id":91657,"backdrop_path":"/tDhCsQaxFmdorEZHIgVaZH0MGDs.jpg","name":"Disney
        Buddies Collection","poster_path":"/dBTf3e1Cgh9t1i4g8XkJBvytL8d.jpg"},{"id":365472,"backdrop_path":null,"name":"Walt
        Disney Animation Studios Short Films","poster_path":"/faAWxEgWwXAEzWOc8vvqrGqJm2h.jpg"},{"id":369428,"backdrop_path":null,"name":"Walt
        Disney Animation Collection Classic Short Films","poster_path":null}],"total_pages":1,"total_results":5}'
  recorded_at: Tue, 09 Feb 2016 15:17:13 GMT
recorded_with: VCR 3.0.1
