---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/company?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en&query=Disney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"c1a6efa3bc6ac52a65677c49e47428cc"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '10800'
      X-Memc-Key:
      - 1a44038d7ccd4eb506787ec1b21c15bb
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '18'
      X-Ratelimit-Reset:
      - '1435331847'
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"id":6421,"logo_path":null,"name":"Disney"},{"id":5888,"logo_path":null,"name":"Walt
        Disney"},{"id":41452,"logo_path":null,"name":"Disney Latino"},{"id":44514,"logo_path":null,"name":"Disney
        XD"},{"id":26151,"logo_path":null,"name":"Disney Enterprises"},{"id":4855,"logo_path":null,"name":"Disney
        Einstein"},{"id":3213,"logo_path":null,"name":"Disney Channel"},{"id":6806,"logo_path":null,"name":"Disney
        Pixar"},{"id":17204,"logo_path":null,"name":"walt disney france"},{"id":18978,"logo_path":null,"name":"Walt
        Disney Television Animation"},{"id":20193,"logo_path":null,"name":"Walt Disney
        Company"},{"id":6470,"logo_path":null,"name":"Walt Disney Production"},{"id":6125,"logo_path":null,"name":"Walt
        Disney Animation Studios"},{"id":7586,"logo_path":null,"name":"Walt Disney
        Home Video"},{"id":10079,"logo_path":null,"name":"The Walt Disney Company"},{"id":10217,"logo_path":null,"name":"Walt
        Disney Feature Animation"},{"id":35162,"logo_path":null,"name":"Walt Disney
        Studios HE"},{"id":41712,"logo_path":null,"name":"Disney Interactive, Canada"},{"id":40148,"logo_path":null,"name":"Walt
        Disney Animation Japan"},{"id":12402,"logo_path":null,"name":"Walt Disney
        Animation Canada"}],"total_pages":2,"total_results":40}'
  recorded_at: Fri, 26 Jun 2015 15:17:27 GMT
recorded_with: VCR 2.9.3
