---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/keyword?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en&query=Disney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"efe62d093abd25779142ef9f06dc6b2c"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '6601'
      X-Memc-Expires:
      - '14999'
      X-Memc-Key:
      - 48c00a8f48e162eb8d32b154cc3ddd04
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '11'
      X-Ratelimit-Reset:
      - '1455031036'
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"id":191117,"name":"disney"},{"id":221006,"name":"disney"},{"id":155290,"name":"disney
        short"},{"id":221005,"name":"walt disney"},{"id":206890,"name":"disney shorts"},{"id":209353,"name":"disney
        fake"},{"id":184948,"name":"disney channel"},{"id":193468,"name":"walt disney"},{"id":15200,"name":"disney
        animated feature"},{"id":207815,"name":"walt disney treasures"},{"id":209354,"name":"unofficial
        disney short"},{"id":209265,"name":"walt disney world"},{"id":207814,"name":"walt
        disney treasures,"},{"id":207816,"name":"walt disney treasures"},{"id":188291,"name":"disneyland"}],"total_pages":1,"total_results":15}'
  recorded_at: Tue, 09 Feb 2016 15:17:13 GMT
recorded_with: VCR 3.0.1
