---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/list?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en&query=Disney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"ebdba410a0703805c3b5f55591c6603d"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '673'
      X-Memc-Expires:
      - '10127'
      X-Memc-Key:
      - 2101f84ca876c8ea7ab496ce06b3fca9
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '36'
      X-Ratelimit-Reset:
      - '1435321364'
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"description":"List of the Disney Classic Collection,
        Based on Theatrical Release Dates, and the Official list from Disney (Found  on
        wikipedia)","favorite_count":27,"id":"51224e42760ee3297424a1e0","item_count":53,"iso_639_1":"en","list_type":"movie","name":"Disney
        Classic Collection","poster_path":"/cKUT3bLwyU0Z08pTLMaSFRHAe6.jpg"},{"description":"Tous
        les films Disney en ma possession.","favorite_count":1,"id":"54c3ce0e9251416185001805","item_count":48,"iso_639_1":"fr","list_type":"movie","name":"Disney","poster_path":"/Ae8wWRahDZaqBK1y5cgDdLd7xgJ.jpg"},{"description":"","favorite_count":1,"id":"545b988b0e0a261fa6001fd7","item_count":39,"iso_639_1":"de","list_type":"movie","name":"Disney","poster_path":"/budR6oAZm55yp4kr5sYqEgg3BH8.jpg"},{"description":"Disney
        Movies","fa[...]
