---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/multi?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en&query=Disney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"7f175ecc588f82a93f09c3e5b2b8a4d5"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '10800'
      X-Memc-Key:
      - e7e65923c7febab846597efc6f944eda
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '13'
      X-Ratelimit-Reset:
      - '1435331847'
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"id":2106,"known_for":[{"adult":false,"backdrop_path":"/8lxW9WfWkSxmPPck605QLQL268q.jpg","genre_ids":[14,16,10751],"id":408,"original_language":"en","original_title":"Snow
        White and the Seven Dwarfs","overview":"A beautiful girl, Snow White, takes
        refuge in the forest in the house of seven dwarfs to hide from her stepmother,
        the wicked Queen. The Queen is jealous because she wants to be known as \"the
        fairest in the land,\" and Snow White''s beauty surpasses her own.","release_date":"1937-12-21","poster_path":"/vGV35HBCMhQl2phhGaQ29P08ZgM.jpg","popularity":2.914751,"title":"Snow
        White and the Seven Dwarfs","video":false,"vote_average":6.4,"vote_count":528,"media_type":"movie"},{"adult":false,"backdrop_path":"/vHBYOUjt04iI0COvMtPAMa2pC9y.jpg","genre_ids":[16],"id":12230,"original_language":"en","original_title":"One
        Hundred and One Dalmatians","overview":"When a litter of dalmatian puppies
        are abducted by the minions of Cruella De Vil, the parents must find them
        before she uses them for a diabolical fashion statement.","release_date":"1961-01-25","poster_path":"/vo5j5OZIdnfMIZSkVfSvh8cJUU.jpg","popularity":2.458573,"title":"101
        Dalmatians","video":false,"vote_average":6.3,"vote_count":442,"media_type":"movie"},{"adult":false,"backdrop_path":"/c2rWPWDJU6tIEHB9mA0BEmXDkAS.jpg","genre_ids":[10751,16,12],"id":9325,"original_language":"en","original_title":"The
        Jungle Book","overview":"The Jungle Book follows the ups and downs of the
        man-cub Mowgli as he makes his way back to the human village with wise panther
        Bagheera to escape ruthless tiger Shere Khan. Along the way, he meets unforgettable
        friends and foes including mad King Louie of the Apes, the hypnotic snake
        Kaa and the loveable, happy-go-lucky bear Baloo, who teaches Mowgli about
        true friendship.","release_date":"1967-10-18","poster_path":"/1AreNcL9s24Qfghbzomy0IlzCFk.jpg","popularity":2.308926,"title":"The
        Jungle Book","video":false,"vote_average":6.7,"vote_count":430,"media_type":"movie"}],"name":"Walt
        Disney","popularity":2.811163,"profile_path":"/mrcVG49U2PVm1LpPMmwBtn5ZzOh.jpg","media_type":"person"},{"backdrop_path":"/7pu5z9NXhH7XmB858BvnVhzzNE0.jpg","first_air_date":"1990-01-01","genre_ids":[],"id":61214,"original_language":null,"original_name":"Fabulas
        Disney","overview":null,"origin_country":[],"poster_path":"/mgK6hweHM5jrkoFksjycrxtCF4a.jpg","popularity":0.0,"name":"Fabulas
        Disney","vote_average":0.0,"vote_count":0,"media_type":"tv"},{"adult":false,"backdrop_path":"/a0WjmuiP0f975hj7yUXPEOzuxqy.jpg","genre_ids":[10402,10751],"id":339074,"original_language":"en","original_title":"Disney
        Dreams","overview":null,"release_date":"2012-06-01","poster_path":"/hIxzm1V0xh3FSYIqkEbLY3QUKXr.jpg","popularity":1.001857,"title":"Disney
        Dreams","video":false,"vote_average":[...]
