---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en&query=Julian%20Beck
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"gender":2,"id":130723,"known_for":[{"adult":false,"backdrop_path":"/vWIFVoKBwa5uHnokF6mc4DUfB9O.jpg","genre_ids":[27,53],"id":11133,"media_type":"movie","original_language":"en","original_title":"Poltergeist
        II: The Other Side","overview":"The Freeling family move in with Diane''s
        mother in an effort to escape the trauma and aftermath of Carol Anne''s abduction
        by the Beast. But the Beast is not to be put off so easily and appears in
        a ghostly apparition as the Reverend Kane, a religeous zealot responsible
        for the deaths of his many followers. His goal is simple - he wants the angelic
        Carol Anne.","poster_path":"/n85IZOC8R27TK5T5YaiwCtpvjv7.jpg","release_date":"1986-05-23","title":"Poltergeist
        II: The Other Side","video":false,"vote_average":6,"vote_count":535},{"adult":false,"backdrop_path":"/cf7jOkeY8tqSnVRzAbdlUKQynhe.jpg","genre_ids":[10749,18],"id":10068,"media_type":"movie","original_language":"en","original_title":"Nine
        1/2 Weeks","overview":"An erotic story about a woman, the assistant of an
        art gallery, who gets involved in an impersonal affair with a man. She barely
        knows about his life, only about the sex games they play, so the relationship
        begins to get complicated.","poster_path":"/vnTCgupgTMZSGbl1InrO[...]
