---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1396/content_ratings?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"f7b3f7a030aa20bb3df511c2c2b50021"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '9400'
      X-Memc-Expires:
      - '19400'
      X-Memc-Key:
      - 2709fe3f55707aaf5bc6c308d1f2b01c
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '1455031046'
    body:
      encoding: UTF-8
      string: '{"results":[{"iso_3166_1":"DE","rating":"16"},{"iso_3166_1":"GB","rating":"18"},{"iso_3166_1":"US","rating":"TV-MA"}],"id":1396}'
  recorded_at: Tue, 09 Feb 2016 15:17:19 GMT
recorded_with: VCR 3.0.1
