---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1396/credits?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"78ee85843db80a252db7a1abcee00890"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '8999'
      X-Memc-Expires:
      - '12601'
      X-Memc-Key:
      - ff58313494259ee31c15cd8400e51804
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1435331858'
    body:
      encoding: UTF-8
      string: '{"cast":[{"character":"Walter White","credit_id":"52542282760ee313280017f9","id":17419,"name":"Bryan
        Cranston","profile_path":"/fnglrIFnI5cK4OAh66AZN86mkFq.jpg","order":0},{"character":"Skyler
        White","credit_id":"52542282760ee3132800181b","id":134531,"name":"Anna Gunn","profile_path":"/6yLKtfYFWbJp5HAjvCecQCYlmqk.jpg","order":1},{"character":"Jesse
        Pinkman","credit_id":"52542282760ee31328001845","id":84497,"name":"Aaron Paul","profile_path":"/pAa8H7DjgXENBhyvJy0hVLKvVT6.jpg","order":2},{"character":"Hank
        Schrader","credit_id":"52542283760ee3132800187b","id":14329,"name":"Dean Norris","profile_path":"/fee5Hdms2TWRnOiIY8NeKSJf4ge.jpg","order":3},{"character":"Marie
        Schrader","credit_id":"52542283760ee31328001891","id":1217934,"name":"Betsy
        Brandt","profile_path":"/zpmsca1HCVqYrtWXV9xdmsECDTI.jpg","order":4},{"character":"Walter
        White Jr.","credit_id":"52542284760ee313280018a9","id":209674,"name":"RJ Mitte","profile_path":"/hO5HJKM6p6SQjpdV8Fs64BJWzmT.jpg","order":5},{"character":"Mike
        Ehrmantraut","credit_id":"5271b1e6760ee35af60941ad","id":783,"name":"Jonathan
        Banks","profile_path":"/s6K0lromCtmSTzuX9hig8OPiRsC.jpg","order":10},{"character":"Saul
        Goodman","credit_id":"5271b180760ee35afc09bb8d","id":59410,"name":"Bob Odenkirk","profile_path":"/1NrWxUR86TnHzqxl4Cs9qTzJhtm.jpg","order":73}],"crew":[{"credit_id":"52542287760ee31328001af1","department":"Production","id":66633,"name":"Vince
        Gilligan","job":"Executive Producer","profile_path":"/rLSUjr725ez1cK7SKVxC9udO03Y.jpg"},{"credit_id":"52542287760ee31328001b69","department":"Production","id":5162,"name":"Mark
        Johnson","job":"Executive Producer","profile_path":"/yKGF6cbzyP03Gl1QhVLCu1gWSW6.jpg"},{"credit_id":"52542288760ee31328001b83","department":"Production","id":29779,"name":"Michelle
        MacLaren","job":"Executive Producer","profile_path":"/7pSOTNnQB5GJXm5HylTY04Y2QAB.jpg"},{"credit_id":"52b7034f19c2955402184de6","department":"[...]
