---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1396/credits?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - d00782944eec59996ed34a0dae1ade9a798249b3
      X-Memc-Age:
      - '14008'
      X-Memc-Expires:
      - '3802'
      Etag:
      - W/"758db67a49ca9226f8f34dbcee81f670"
    body:
      encoding: ASCII-8BIT
      string: '{"cast":[{"adult":false,"gender":2,"id":17419,"known_for_department":"Acting","name":"Bryan
        Cranston","original_name":"Bryan Cranston","popularity":45.095,"profile_path":"/7Jahy5LZX2Fo8fGJltMreAI49hC.jpg","character":"Walter
        White","credit_id":"52542282760ee313280017f9","order":0},{"adult":false,"gender":2,"id":84497,"known_for_department":"Acting","name":"Aaron
        Paul","original_name":"Aaron Paul","popularity":29.473,"profile_path":"/lowE44ffgu4UmnOT3wOTKYhtUzp.jpg","character":"Jesse
        Pinkman","credit_id":"52542282760ee31328001845","order":1},{"adult":false,"gender":1,"id":134531,"known_for_department":"Acting","name":"Anna
        Gunn","original_name":"Anna Gunn","popularity":16.973,"profile_path":"/adppyeu1a4REN3khtgmXusrapFi.jpg","character":"Skyler
[...]
