---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1396/external_ids?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 625fca36c7981757727fe7caca9319410c8d9e71
      X-Memc-Age:
      - '13502'
      X-Memc-Expires:
      - '2837'
      Etag:
      - W/"87716597ae97982db41a36f5dee46fa6"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1396,"imdb_id":"tt0903747","freebase_mid":"/m/03d34x8","freebase_id":"/en/breaking_bad","tvdb_id":81189,"tvrage_id":18164,"wikidata_id":null,"facebook_id":"BreakingBad","instagram_id":"breakingbad","twitter_id":"BreakingBad"}'
  recorded_at: Sat, 26 Nov 2022 18:52:40 GMT
recorded_with: VCR 6.1.0
