---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1396/external_ids?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"ad7d9caa8406eef25aa75db72d6e1047"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '551'
      X-Memc-Expires:
      - '21049'
      X-Memc-Key:
      - 7c8188d4ff96952bbef2d9154131fe1b
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1435331858'
    body:
      encoding: UTF-8
      string: '{"imdb_id":"tt0903747","freebase_mid":"/m/03d34x8","freebase_id":"/en/breaking_bad","tvdb_id":81189,"tvrage_id":18164,"id":1396}'
  recorded_at: Fri, 26 Jun 2015 15:17:34 GMT
recorded_with: VCR 2.9.3
