---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1396/images?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 9c47bf3a08d2a789eca5d69b8e015d6b26a8a43e
      X-Memc-Age:
      - '10943'
      X-Memc-Expires:
      - '5859'
      Etag:
      - W/"17974469332b61962c22d9da8086e5af"
    body:
      encoding: ASCII-8BIT
      string: '{"backdrops":[{"aspect_ratio":1.778,"height":2160,"iso_639_1":"en","file_path":"/hwIAR9FDsKULo8efoOUuxsFtO2u.jpg","vote_average":5.318,"vote_count":3,"width":3840},{"aspect_ratio":1.778,"height":720,"iso_639_1":"en","file_path":"/b5rOkbQ0jKYvBqBf3bwJ6nXBOtx.jpg","vote_average":5.312,"vote_count":1,"width":1280},{"aspect_ratio":1.778,"height":2160,"iso_639_1":"en","file_path":"/whL1DXc6TDGYxtuvVRKRCRWvqni.jpg","vote_average":5.312,"vote_count":1,"width":3840},{"aspect_ratio":1.778,"height":2160,"iso_639_1":"en","file_path":"/gae3QaHGZNF6UhQf8nMOyssp8ul.jpg","vote_average":5.312,"vote_count":1,"width":3840},{"aspect_ratio":1.778,"height":1080,"iso_639_[...]
