---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1396/images?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"6550dcf03e1ed12932ae3f07225ba734"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '6976'
      X-Memc-Expires:
      - '14624'
      X-Memc-Key:
      - 964740534e89c17b9b56f205aabc8702
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1435324712'
    body:
      encoding: UTF-8
      string: '{"backdrops":[{"aspect_ratio":1.77777777777778,"file_path":"/n5kIjzyYNdDfJbfNkG68j3qDm6n.jpg","height":1080,"iso_639_1":"en","vote_average":5.24542124542125,"vote_count":2,"width":1920},{"aspect_ratio":1.77777777777778,"file_path":"/qamG9LeH42UombW1bfZlIlzO5Y1.jpg","height":1080,"iso_639_1":"en","vote_average":5.17316017316017,"vote_count":3,"width":1920},{"aspect_ratio":1.77777777777778,"file_path":"/upeNbWF5wKZUOUcUW4EnVfYYjRo.jpg","height":1080,"iso_639_1":"en","vote_average":5.17113095238095,"vote_count":1,"width":1920},{"aspect_ratio":1.77777777777778,"file_path":"/nXlTbIrgroOCCKQSsMizmqQ4NAG.jpg","height":720,"iso_639_1":"en","vote_average":5.17113095238095,"vote_co[...]
