---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1396/videos?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - a7e3de0ecd02eb68b050e339dee0ae3d5c2849fc
      X-Memc-Age:
      - '15415'
      X-Memc-Expires:
      - '2560'
      Etag:
      - W/"c057e28bc9d69aa5c71a29fa8c55ce84"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1396,"results":[{"iso_639_1":"en","iso_3166_1":"US","name":"Series
        Trailer","key":"XZ8daibM3AE","published_at":"2013-03-25T16:28:54.000Z","site":"YouTube","size":480,"type":"Trailer","official":true,"id":"5759db2fc3a3683e7c003df7"}]}'
  recorded_at: Sat, 26 Nov 2022 18:52:41 GMT
recorded_with: VCR 6.1.0
