---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/550/images?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0467bfaa50791e1c48073d640e391c5735ed7a21
      X-Memc-Age:
      - '3800'
      X-Memc-Expires:
      - '11440'
      Etag:
      - W/"e7ff3ce0864dda503d947946137d7008"
    body:
      encoding: ASCII-8BIT
      string: '{"backdrops":[{"aspect_ratio":1.778,"height":720,"iso_639_1":"en","file_path":"/fygeMr16EcxJiYhdiO1LEr7iHtI.jpg","vote_average":5.312,"vote_count":1,"width":1280},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/5pxdgKVEDWDQBtvqIB2eB2oheml.jpg","vote_average":5.18,"vote_count":3,"width":1920},{"aspect_ratio":1.778,"height":720,"iso_639_1":"en","file_path":"/yPeG1RQm5Am0eslu0IwUEJ4VXND.jpg","vote_average":5.172,"vote_count":1,"width":1280},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/jAvY6IN6MIxmPM2oAtNqYK7P2gi.jpg","vote_average":5.172,"vote_count":1,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/b9HyPoxwxjxkWEUL5ErZdhApQe2.jpg","vote_average":0.0,"vote_count":0,"width":1920}],"id":550,"logos":[{"aspect_ratio":4.638,"height":389,"iso_639_1":"en","file_path":"/7Uqhv24pGJs4Ns31NoOPWFJGWNG.png","vote_average":5.172,"vote_count":1,"width":1804},{"aspect_ratio":1.329,"height":1275,"iso_639_1":"en","file_path":"/v7JwpiYf2knmf2R2mLLvJmNxy9x.png","vote_average":0.0,"vote_count":0,"width":1694},{"aspect_ratio":0.848,"height":1295,"iso_639_1":"en","file_path":"/4XkF0Rf7gvSfea8fYLFbU5tmuJw.png","vote_average":0.0,"vote_count":0,"width":1098},{"aspect_ratio":1.5,"height":290,"iso_639_1":"en","fil[...]
