---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/550/images?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"4caa634b53a0add65d10b8e37d6e6816"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '4967'
      X-Memc-Expires:
      - '16633'
      X-Memc-Key:
      - 5aff060a307dbdfc519b166c1993d0f2
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1435331837'
    body:
      encoding: UTF-8
      string: '{"id":550,"backdrops":[{"aspect_ratio":1.77777777777778,"file_path":"/8uO0gUM8aNqYLs1OsTBQiXu0fEv.jpg","height":720,"iso_639_1":"en","vote_average":5.44061302681992,"vote_count":24,"width":1280},{"aspect_ratio":1.77777777777778,"file_path":"/Atf7uL8VsJChMj4UW74iVxaLULR.jpg","height":1080,"iso_639_1":"en","vote_average":5.00680272108844,"vote_count":7,"width":1920},{"aspect_ratio":1.77777777777778,"file_path":"/tsKF46QfepjVQSkvtYGPn7IICTC.jpg","height":1080,"iso_639_1":"en","vote_average":4.97652582159624,"vote_count":8,"width":1920},{"aspect_ratio":1.77777777777778,"file_path":"/1pBPSBjMv3oTUDM1aqar5AldS8e.jpg","height":1080,"iso_639_1":"en","vote_average":4.9119373776908,"vote_count":10,"width":1920}],"posters":[{"aspect_ratio":0.666666666666667,"file_path":"/hpt3aa5i0TrSAnEdl3VJrRrje8C.jpg","height":1500,"iso_639_1":"en","vote_average":5.31645569620253,"vote_count":16,"width":1000},{"aspect_ratio":0.666666666666667,"file_path":"/wz1TQObQpRYLLN2xpQZapxt6gHT.jpg","height":2100,"iso_639_1":"en","vote_average":5.24542124542125,"vote_count":2,"width":1400},{"aspect_ratio":0.666666666666667,"file_path":"/wXIb1r6LcU3oCTyx3nem0t9MsnT.jpg","height":1500,"iso_639_1":"en","vote_average":5.24542124542125,"vote_co[...]
