---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/550/changes?api_key=c29379565234e20d7cbf4f2e835c3e41&end_date=2015-06-26&language=en&start_date=2015-06-20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"7f43e385e551fac54df200fe8d2ba3f4"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '300'
      X-Memc-Key:
      - 2df9b48780417d743d6a917ed9f007f0
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '32'
      X-Ratelimit-Reset:
      - '1455031036'
    body:
      encoding: UTF-8
      string: '{"changes":[{"key":"images","items":[{"id":"558ab78cc3a36869f2001e32","action":"updated","time":"2015-06-24
        13:58:36 UTC","iso_639_1":"fr","value":{"poster":{"file_path":"/tYnygTSBvN4rxypuJ9S9JjUGqMX.jpg","iso_639_1":"fr"}},"original_value":{"poster":{"file_path":"/tYnygTSBvN4rxypuJ9S9JjUGqMX.jpg","iso_639_1":"en"}}}]}]}'
  recorded_at: Tue, 09 Feb 2016 15:17:08 GMT
recorded_with: VCR 3.0.1
