---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/550?api_key=8a221fc31fcdf12a8af827465574ffc9&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - "\"3db64b3124f774e1afb7e55a42a40159\""
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '1008'
      X-Memc-Expires:
      - '20592'
      X-Memc-Key:
      - f5d8d6d123f674ea3be4bd53fba9acb2
    body:
      encoding: UTF-8
      string: "{\"adult\":false,\"backdrop_path\":\"/8uO0gUM8aNqYLs1OsTBQiXu0fEv.jpg\",\"belongs_to_collection\":null,\"budget\":63000000,\"genres\":[{\"id\":28,\"name\":\"Action\"},{\"id\":18,\"name\":\"Drama\"},{\"id\":53,\"name\":\"Thriller\"}],\"homepage\":\"\",\"id\":550,\"imdb_id\":\"tt0137523\",\"original_title\":\"Fight
        Club\",\"overview\":\"A ticking-time-bomb insomniac and a slippery soap salesman
        channel primal male aggression into a shocking new form of therapy. Their
        concept catches on, with underground \\\"fight clubs\\\" forming in every
        town, until an eccentric gets in the way and ignites an out-of-control spiral
        toward oblivion.\",\"popularity\":6.65830732181331,\"poster_path\":\"/2lECpi35Hnbpa4y46JX0aY3AWTy.jpg\",\"production_companies\":[{\"name\":\"20th
        Century Fox\",\"id\":25},{\"name\":\"Fox 2000 Pictures\",\"id\":711},{\"name\":\"Regency
        Enterprises\",\"id\":508}],\"production_countries\":[{\"iso_3166_1\":\"DE\",\"name\":\"Germany\"},{\"iso_3166_1\":\"US\",\"name\":\"United
        States of America\"}],\"release_date\":\"1999-10-14\",\"revenue\":100853753,\"runtime\":139,\"spoken_languages\":[{\"iso_639_1\":\"en\",\"name\":\"English\"}],\"status\":\"Released\",\"tagline\":\"How
        much can you know about yourself if you've never been in a fight?\",\"title\":\"Fight
        Club\",\"vote_average\":7.6,\"vote_count\":2817}"
  recorded_at: Wed, 05 Mar 2014 15:32:33 GMT
recorded_with: VCR 2.8.0
