---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/550?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"fe02ed5dcc6974280c06e8a47358ff7b"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '3220'
      X-Memc-Expires:
      - '18380'
      X-Memc-Key:
      - f5d8d6d123f674ea3be4bd53fba9acb2
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '14'
      X-Ratelimit-Reset:
      - '1435331837'
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/8uO0gUM8aNqYLs1OsTBQiXu0fEv.jpg","belongs_to_collection":null,"budget":63000000,"genres":[{"id":18,"name":"Drama"}],"homepage":"","id":550,"imdb_id":"tt0137523","original_language":"en","original_title":"Fight
        Club","overview":"A ticking-time-bomb insomniac and a slippery soap salesman
        channel primal male aggression into a shocking new form of therapy. Their
        concept catches on, with underground \"fight clubs\" forming in every town,
        until an eccentric gets in the way and ignites an out-of-control spiral toward
        oblivion.","popularity":2.619357,"poster_path":"/811DjJTon9gD6hZ8nCjSitaIXFQ.jpg","production_companies":[{"name":"Regency
        Enterprises","id":508},{"name":"Fox 2000 Pictures","id":711},{"name":"Taurus
        Film","id":20555},{"name":"Linson Films","id":54050},{"name":"Atman Entertainment","id":54051},{"name":"Knickerbocker
        Films","id":54052}],"production_countries":[{"iso_3166_1":"DE","name":"Germany"},{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1999-10-14","revenue":100853753,"runtime":139,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"How
        much can you know about yourself if you''ve never been in a fight?","title":"Fight
        Club","video":false,"vote_average":7.8,"vote_count":3537}'
  recorded_at: Fri, 26 Jun 2015 15:17:18 GMT
recorded_with: VCR 2.9.3
