---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/latest?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"d9986a373eda3fa70ae91cbcf0d4949a"'
      Last-Modified:
      - '2015-06-24 15:55:53 +0000'
      Status:
      - 200 OK
      X-Memc:
      - MISS
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '0'
      X-Memc-Key:
      - 7d7c5a5093dfb9d7fcd7412f9fd461eb
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1435161546'
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[],"homepage":null,"id":346089,"imdb_id":"tt0079958","original_language":"it","original_title":"Le
        strelle nel fosso","overview":null,"popularity":0.0,"poster_path":"/5Urh6QPv4svC7cP8lOAfxATP0z3.jpg","production_companies":[],"production_countries":[],"release_date":"","revenue":0,"runtime":null,"spoken_languages":[],"status":"Released","tagline":null,"title":"Le
        strelle nel fosso","video":false,"vote_average":0.0,"vote_count":0}'
  recorded_at: Wed, 24 Jun 2015 15:59:02 GMT
recorded_with: VCR 2.9.3
