---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/latest?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"9fc727b6958add996b5fdb1178771886"'
      Last-Modified:
      - '2016-02-09 14:50:53 +0000'
      Status:
      - 200 OK
      X-Memc:
      - MISS
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '0'
      X-Memc-Key:
      - 7d7c5a5093dfb9d7fcd7412f9fd461eb
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '31'
      X-Ratelimit-Reset:
      - '1455031036'
    body:
      encoding: UTF-8
      string: '{"adult":true,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[],"homepage":"http://silaut.com","id":381897,"imdb_id":"","original_language":"en","original_title":"Coba","overview":"Coba
        banget","popularity":0.0,"poster_path":null,"production_companies":[],"production_countries":[],"release_date":"","revenue":0,"runtime":0,"spoken_languages":[],"status":"Released","tagline":"coba","title":"Coba","video":true,"vote_average":0.0,"vote_count":0}'
  recorded_at: Tue, 09 Feb 2016 15:17:08 GMT
recorded_with: VCR 3.0.1
