---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/latest?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"8a6f1980a5eb3598a78aabd14beb3509"'
      Last-Modified:
      - '2015-06-26 15:10:46 +0000'
      Status:
      - 200 OK
      X-Memc:
      - MISS
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '0'
      X-Memc-Key:
      - 7d7c5a5093dfb9d7fcd7412f9fd461eb
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '36'
      X-Ratelimit-Reset:
      - '1435331847'
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[],"homepage":"","id":346254,"imdb_id":"tt0267902","original_language":"en","original_title":"Safariland","overview":"\"Safari
        Land: Among Negroes and wildlife in East Africa\". A Norwegian exploitation
        travel documentary in color from 1952.","popularity":0.0,"poster_path":"/y9EcJJJiqAB4NxGp60OI7d60vSH.jpg","production_companies":[],"production_countries":[],"release_date":"1952-01-17","revenue":0,"runtime":0,"spoken_languages":[],"status":"Released","tagline":"","title":"Safariland","video":false,"vote_average":0.0,"vote_count":0}'
  recorded_at: Fri, 26 Jun 2015 15:17:21 GMT
recorded_with: VCR 2.9.3
