---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/550/releases?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - f5791e0100e5272b4230e3280d2f1e01dc44b9ab
      X-Memc-Age:
      - '15494'
      X-Memc-Expires:
      - '1504'
      Etag:
      - W/"1b8057884cc8778ece3b2becd9366531"
    body:
      encoding: ASCII-8BIT
      string: '{"id":550,"countries":[{"certification":"","iso_3166_1":"CZ","primary":false,"release_date":"2000-01-25"},{"certification":"","iso_3166_1":"IT","primary":false,"release_date":"1999-09-10"},{"certification":"","iso_3166_1":"US","primary":false,"release_date":"1999-09-21"},{"certification":"","iso_3166_1":"US","primary":false,"release_date":"1999-10-06"},{"certification":"R","iso_3166_1":"US","primary":false,"release_date":"1999-10-15"},{"certification":"K-18","iso_3166_1":"FI","primary":false,"release_date":"1999-11-12"},{"certification":"18","iso_3166_1":"GB","primary":false,"release_d[...]
