---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/550/releases?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"50c358dc526f2237a542b394084c50cf"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '13945'
      X-Memc-Expires:
      - '7655'
      X-Memc-Key:
      - ef2be0de1a420527c54de6ff74a48928
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '5'
      X-Ratelimit-Reset:
      - '1435331837'
    body:
      encoding: UTF-8
      string: '{"id":550,"countries":[{"certification":"R","iso_3166_1":"US","primary":true,"release_date":"1999-10-14"},{"certification":"18","iso_3166_1":"DE","primary":false,"release_date":"1999-11-10"},{"certification":"18","iso_3166_1":"GB","primary":false,"release_date":"1999-11-12"},{"certification":"16","iso_3166_1":"FR","primary":false,"release_date":"1999-11-10"},{"certification":"","iso_3166_1":"TR","primary":false,"release_date":"1999-12-10"},{"certification":"18
        anos","iso_3166_1":"BR","primary":false,"release_date":"1999-11-12"},{"certification":"K-18","iso_3166_1":"FI","primary":false,"release_date":"1999-11-12"},{"certification":"c","iso_3166_1":"BG","primary":false,"release_date":"2012-08-28"},{"certification":"VM14","iso_3166_1":"IT","primary":false,"release_date":"1999-10-29"},{"certification":"R18+","iso_3166_1":"AU","primary":false,"release_date":"1999-11-11"},{"certification":"","iso_3166_1":"ES","primary":false,"release_date":"1999-11-05"}]}'
  recorded_at: Fri, 26 Jun 2015 15:17:20 GMT
recorded_with: VCR 2.9.3
