---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/550/reviews?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"3d816602769877e29d143ba427c6f70d"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '18461'
      X-Memc-Expires:
      - '3139'
      X-Memc-Key:
      - f8d7d87a6e35ad7a456e2a2cfc745545
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '32'
      X-Ratelimit-Reset:
      - '1435161546'
    body:
      encoding: UTF-8
      string: '{"id":550,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Wed, 24 Jun 2015 15:59:01 GMT
recorded_with: VCR 2.9.3
