---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/550/videos?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"8385922582a7720b7ae1305803ab5819"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '3661'
      X-Memc-Expires:
      - '17939'
      X-Memc-Key:
      - ca5c545c41e5d5b7bf047770d2f31025
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Reset:
      - '1435161546'
    body:
      encoding: UTF-8
      string: '{"id":550,"results":[{"id":"533ec654c3a36854480003eb","iso_639_1":"en","key":"SUXWAEX2jlg","name":"Trailer
        1","site":"YouTube","size":720,"type":"Trailer"}]}'
  recorded_at: Wed, 24 Jun 2015 15:59:00 GMT
recorded_with: VCR 2.9.3
