---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/3572/season/1/credits?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"d91a300def81ea32b7eadb8571c90b7d"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '762'
      X-Memc-Expires:
      - '20838'
      X-Memc-Key:
      - e1eb1c895a8ea3cf4550415d7c907da7
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Reset:
      - '1435327991'
    body:
      encoding: UTF-8
      string: '{"cast":[{"character":"","credit_id":"5257533719c29531db11620e","id":10169,"name":"Telly
        Savalas","profile_path":"/37s6uJijtMcxqA0wQEZC2YyVsSl.jpg","order":0},{"character":"","credit_id":"5257533719c29531db11623c","id":40463,"name":"Dan
        Frazer","profile_path":"/fwA9K5bAgUvdWfA17tnCQzTpiyX.jpg","order":1},{"character":"Sgt.
        Bobby Crocker","credit_id":"5257533719c29531db11626a","id":105595,"name":"Kevin
        Dobson","profile_path":"/xClcQ7O3ZORruMwOFczuYyaAMBT.jpg","order":2},{"character":"","credit_id":"5257533719c29531db116298","id":78091,"name":"George
        Savalas","profile_path":"/hufHtydfKBlrwhIrK2W5SoI5ntb.jpg","order":3},{"character":"","credit_id":"5257533919c29531db1162c9","id":1234318,"name":"Mark
        Russell","profile_path":null,"order":4}],"crew":[{"credit_id":"5257533919c29531db11630f","department":"Production","id":12140,"name":"Abby
        Mann","job":"Executive Producer","profile_path":null},{"credit_id":"5257533919c29531db11633d","department":"Production","id":1216932,"name":"Michael
        Scheff","job":"Producer","profile_path":null},{"credit_id":"5257533919c29531db11636d","department":"Production","id":151445,"name":"Jack
        Laird","job":"Producer","profile_path":null},{"credit_id":"5257533b19c29531db1163a0","department":"Production","id":1234320,"name":"James
        Duff McAdams","job":"Producer","profile_path":null},{"credit_id":"5257533b19c29531db1163d6","department":"Production","id":118311,"name":"Matthew
        Rapf","job":"Executive Producer","profile_path":null}],"id":10838}'
  recorded_at: Fri, 26 Jun 2015 14:13:05 GMT
recorded_with: VCR 2.9.3
