---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/3572/season/1/credits?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - a144aae016bbab80ea1afed17edb51afea08f9ba
      X-Memc-Age:
      - '12882'
      X-Memc-Expires:
      - '2871'
      Etag:
      - W/"c5b9e2ec031e91aa7eef25bf51470a0b"
    body:
      encoding: ASCII-8BIT
      string: '{"cast":[{"adult":false,"gender":2,"id":10169,"known_for_department":"Acting","name":"Telly
        Savalas","original_name":"Telly Savalas","popularity":17.193,"profile_path":"/8rNwSBuLsVeUWlU3IRFrHwIfdm.jpg","character":"Theo
        Kojak","credit_id":"5257533719c29531db11620e","order":0},{"adult":false,"gender":2,"id":40463,"known_for_department":"Acting","name":"Dan
        Frazer","original_name":"Dan Frazer","popularity":4.47,"profile_path":"/tBe7tZ4Hyzs7cnGFSpBiEGcwQII.jpg","character":"Frank
        McNeill","credit_id":"5257533719c29531db11623c","order":1},{"adult":false,"gender":2,"id":105595,"known_for_department":"Acting","name":"Kevin
        Dobson","original_name":"Kevin Dobson","popularity":2.479,"profile_path":"/vur5OEi36P2relSZ4pfam4v6hu.jpg","character":"Bobby
        Crocker","credit_id":"5257533719c29531db11626a","order":2},{"adult":false,"gender":2,"id":78091,"known_for_department":"Acting","name":"George
        Savalas","original_name":"George Savalas","popularity":3.146,"profile_path":"/6LldftjuRCfldm56DOVEUump48j.jpg","character":"Curly
        Stavors","credit_id":"5257533719c29531db116298","order":3},{"adult":false,"gender":2,"id":1234318,"known_for_department":"Acting","name":"Mark
        Russell","original_name":"Mark Russell","popularity":1.761,"profile_path":"/trlBsJk0zZGfXT3R5yWidh2NcTE.jpg","character":"Percy
        Saperstein","credit_id":"5257533919c29531db1162c9","order":4}],"crew":[{"adult":false,"gender":0,"id":12140,"known_for_department":"Writing","name":"Abby
        Mann","original_name":"Abby Mann","popularity":2.43,"profile_path":null,"credit_id":"5257533919c29531db11630f","department":"Production","job":"Executive
        Producer"},{"adult":false,"gender":2,"id":151445,"known_for_department":"Writing","name":"Jack
        Laird","original_name":"Jack Laird","popularity":1.4,"profile_path":null,"credit_id":"5257533919c29531db11636d","department":"Production","job":"Producer"},{"adult":false,"gender":0,"id":1234320,"known_for_department":"Production","name":"James
        Duff McAdams","original_name":"James Duff McAdams","popularity":1.4,"profile_path":null,"credit_id":"5257533b19c29531db1163a0","department":"Production","job":"Producer"},{"adult":false,"gender":0,"id":118311,"known_for_department":"Writing","name":"Matthew
        Rapf","original_name":"Matthew Rapf","popularity":0.6,"profile_path":null,"credit_id":"5257533b19c29531db1163d6","department":"Production","job":"Executive
        Producer"}],"id":10838}'
  recorded_at: Sat, 26 Nov 2022 18:53:03 GMT
recorded_with: VCR 6.1.0
