---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/3572/season/1/external_ids?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 15024aae95fd9043a5765607bddc36b680a0337f
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '16333'
      Etag:
      - W/"b8658d59084a27f110878e68d36b993d"
    body:
      encoding: ASCII-8BIT
      string: '{"id":10838,"freebase_mid":"/m/05ddtqw","freebase_id":"/en/kojak_season_1","tvdb_id":2547,"tvrage_id":null,"wikidata_id":null}'
  recorded_at: Sat, 26 Nov 2022 18:53:03 GMT
recorded_with: VCR 6.1.0
