---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/3572/season/1/external_ids?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"74308c5a56323a03173b6056616f25c3"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '6600'
      X-Memc-Expires:
      - '22200'
      X-Memc-Key:
      - 7ea786aca555f85081317b6768814ade
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '32'
      X-Ratelimit-Reset:
      - '1455031046'
    body:
      encoding: UTF-8
      string: '{"freebase_mid":"/m/05ddtqw","freebase_id":"/en/kojak_season_1","tvdb_id":2547,"tvrage_id":null,"id":10838}'
  recorded_at: Tue, 09 Feb 2016 15:17:18 GMT
recorded_with: VCR 3.0.1
