---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1399/season/1/images?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - be108b6edb43256dbe6e5b26ebd23ded9fc67179
      X-Memc-Age:
      - '7213'
      X-Memc-Expires:
      - '7658'
      Etag:
      - W/"fa957bb52e88a2ae9137a1348eace8dd"
    body:
      encoding: ASCII-8BIT
      string: '{"id":3624,"posters":[{"aspect_ratio":0.667,"height":1500,"iso_639_1":"en","file_path":"/wgfKiqzuMrFIkU1M68DDDY8kGC1.jpg","vote_average":5.402,"vote_count":18,"width":1000},{"aspect_ratio":0.667,"height":1500,"iso_639_1":"en","file_path":"/qCOMbOrSeZ8n4Jur2GPCxpZsRgx.jpg","vote_average":5.39,"vote_count":6,"width":1000},{"aspect_ratio":0.667,"height":1425,"iso_639_1":"en","file_path":"/olJ6ivXxCMq3cfujo1IRw30OrsQ.jpg","vote_average":5.338,"vote_count":13,"width":950},{"aspect_ratio":0.692,"height":578,"iso_639_1":"en","file_path":"/zwaj4egrhnXOBIit1tyb4Sbt3KP.jpg","vote_average":5.332,"vote_count":29,"width":400},{"aspect_ratio":0.667,"height":1500,"iso_639_1[...]
