---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1399/season/1/videos?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"9efa62780c0dacfe3cbd6eb6eb8f0d8e"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '9214'
      X-Memc-Expires:
      - '12386'
      X-Memc-Key:
      - 57e31d44afdbc57ee39fadda18f9ef47
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1435331858'
    body:
      encoding: UTF-8
      string: '{"id":3624,"results":[{"id":"534921db0e0a266b3f0013bb","iso_639_1":"en","key":"9cqABojhqr4","name":"Pledge
        Your Allegiance - House Stark","site":"YouTube","size":720,"type":"Featurette"},{"id":"534922b00e0a266b4a0014e9","iso_639_1":"en","key":"5H7Q3SZ2kec","name":"Character
        Feature - Catelyn Stark","site":"YouTube","size":720,"type":"Featurette"},{"id":"534922d30e0a266b4a0014ee","iso_639_1":"en","key":"JLF5afwjvQQ","name":"Character
        Feature - Robb Stark","site":"YouTube","size":720,"type":"Featurette"},{"id":"534923030e0a266b4300139d","iso_639_1":"en","key":"5FoXU1pNr7g","name":"Character
        Feature - Arya Stark","site":"YouTube","size":720,"ty[...]
