---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/company/1?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - a062617cd033159d3f221f6d64ff121049e095ff
      X-Memc-Age:
      - '6609'
      X-Memc-Expires:
      - '8794'
      Etag:
      - W/"922bfddc1ba3b8d6ec7e6437448a7715"
    body:
      encoding: ASCII-8BIT
      string: '{"description":"","headquarters":"San Francisco, California","homepage":"https://www.lucasfilm.com","id":1,"logo_path":"/o86DbpburjxrqAzEDhXZcyE8pDb.png","name":"Lucasfilm
        Ltd.","origin_country":"US","parent_company":null}'
  recorded_at: Sat, 26 Nov 2022 18:52:48 GMT
recorded_with: VCR 6.1.0
