---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/company/1?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"fb7b8a07135e2e402d7162c279595d10"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '641'
      X-Memc-Expires:
      - '20959'
      X-Memc-Key:
      - 55167ca4f4dc4cc65cc4491801b3d5de
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '31'
      X-Ratelimit-Reset:
      - '1435331837'
    body:
      encoding: UTF-8
      string: '{"description":null,"headquarters":"San Francisco, California","homepage":"http://www.lucasfilm.com","id":1,"logo_path":"/8rUnVMVZjlmQsJ45UGotD0Uznxj.png","name":"Lucasfilm","parent_company":null}'
  recorded_at: Fri, 26 Jun 2015 15:17:14 GMT
recorded_with: VCR 2.9.3
