---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/credit/5256c8b219c2956ff6047cd8?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - e4a48959a8462e5aaeac2b275a4b6776d8758125
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '15300'
      Etag:
      - W/"586d07f00f63f9a3a906ec36a766b497"
    body:
      encoding: ASCII-8BIT
      string: '{"credit_type":"cast","department":"Acting","job":"Actor","media":{"adult":false,"backdrop_path":"/suopoADq0k8YZr4dQXcU6pToj6s.jpg","id":1399,"name":"Game
        of Thrones","original_language":"en","original_name":"Game of Thrones","overview":"Seven
        noble families fight for control of the mythical land of Westeros. Friction
        between the houses leads to full-scale war. All while a very ancient evil
        awakens in the farthest north. Amidst the war, a neglected military order
        of misfits, the Night''s Watch, is all that stands between the realms of men
        and icy horrors beyond.","poster_path":"/7WUHnWGx5OO145IRxPDUkQSh4C7.jpg","media_type":"tv","genre_ids":[10765,18,10759],"popularity":798.035,"first_air_date":"2011-04-17","vote_average":8.43,"vote_count":19823,"origin_country":["US"],"character":"Tyrion
        Lannister","episodes":[{"air_date":"2011-04-07","episode_number":3,"id":63088,"name":"Making
        Game of Thrones","overview":"An exclusive 30-minute feature including never-before-seen
        footage from the set and interviews from the cast and crew.","production_code":"","runtime":30,"season_number":0,"show_id":1399,"still_path":"/wK6sLD7YIgnteEjxdWzT9xe4WvW.jpg","vote_average":7.2,"vote_count":6},{"air_date":"2013-02-19","episode_number":202,"id":3414008,"name":"Season
        2 Character Profiles: Joffrey Baratheon","overview":"7 new profiles including
        Renly and Stannis Baratheon, Robb Stark, Theon Greyjoy and others.","production_code":"","runtime":2,"season_number":0,"show_id":1399,"still_path":"/6yoGzmrwCS7GD2udrdUmQNrUDYW.jpg","vote_average":6.0,"vote_count":3},{"air_date":"2013-02-19","episode_number":206,"id":3414012,"name":"Creating
        The Battle Of Blackwater Bay","overview":"A deep look behind the scenes with
        the cast and crew shows how the epic battle in the Blackwater bay was brought
        to life.","production_code":"","runtime":31,"season_number":0,"show_id":1399,"still_path":"/r0INsJCLI3Ms1ZwXRV3PooPUwoa.jpg","vote_average":6.3,"vote_count":3},{"air_date":"2013-02-19","episode_number":239,"id":3695427,"name":"Deleted
        Scene: The Hound and the Little Bird","overview":"Deleted scene from Season
        2","production_code":"","runtime":2,"season_number":0,"show_id":1399,"still_path":"/b4KIBJbyBnrU3Pa8tzsxb4bCNtN.jpg","vote_average":5.3,"vote_count":3},{"air_date":"2014-03-12","episode_number":10,"id":974559,"name":"The
        Politics of Power: A Look Back at Season 3","overview":"Relive every thrilling,
        dramatic and tragic highlight from Season 3 of \"Game of Thrones\" in this
        comprehensive featurette. From Daenerys building a slave army to the infamous
        Red Wedding, not a detail is missed as recalled by the stars of the hit HBO
        series.","production_code":"","runtime":25,"season_number":0,"show_id":1399,"still_path":"/nTAGjLkDuhn69Ni18UdfYcJ7nnj.jpg","vote_average":6.4,"vote_count":6},{"air_date":"2015-02-17","episode_number":219,"id":3418393,"name":"2
        unused scenes from Season 4","overview":"","production_code":"","runtime":3,"season_number":0,"show_id":1399,"still_path":null,"vote_average":5.7,"vote_count":3}],"seasons":[{"air_date":"2011-04-17","episode_count":10,"id":3624,"name":"Season
        1","overview":"Trouble is brewing in the Seven Kingdoms of Westeros. For the
        driven inhabitants of this visionary world, control of Westeros'' Iron Throne
        holds the lure of great power. But in a land where the seasons can last a
        lifetime, winter is coming...and beyond the Great Wall that protects them,
        an ancient evil has returned. In Season One, the story centers on three primary
        areas: the Stark and the Lannister families, whose designs on controlling
        the throne threaten a tenuous peace; the dragon princess Daenerys, heir to
        the former dynasty, who waits just over the Narrow Sea with her malevolent
        brother Viserys; and the Great Wall--a massive barrier of ice where a forgotten
        danger is stirring.","poster_path":"/wgfKiqzuMrFIkU1M68DDDY8kGC1.jpg","season_number":1,"show_id":1399},{"air_date":"2012-04-01","episode_count":10,"id":3625,"name":"Seas[...]
