---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/credit/5256c8b219c2956ff6047cd8?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"82f0d8f32e49b2138b5cf99431df1d5d"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '771'
      X-Memc-Expires:
      - '20829'
      X-Memc-Key:
      - 2417434868a2ae7b00cdb95c690418fa
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1435938462'
    body:
      encoding: UTF-8
      string: '{"credit_type":"cast","department":"Actors","job":"Actor","media":{},"media_type":"tv","id":"5256c8b219c2956ff6047cd8","person":{"name":"Peter
        Dinklage","id":22970}}'
  recorded_at: Fri, 03 Jul 2015 15:47:32 GMT
recorded_with: VCR 2.9.3
