---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/configuration?api_key=8a221fc31fcdf12a8af827465574ffc9&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "{\"images\":{\"base_url\":\"http://image.tmdb.org/t/p/\",\"secure_base_url\":\"https://image.tmdb.org/t/p/\",\"backdrop_sizes\":[\"w300\",\"w780\",\"w1280\",\"original\"],\"logo_sizes\":[\"w45\",\"w92\",\"w154\",\"w185\",\"w300\",\"w500\",\"original\"],\"poster_sizes\":[\"w92\",\"w154\",\"w185\",\"w342\",\"w500\",\"original\"],\"profile_sizes\":[\"w45\",\"w185\",\"h632\",\"original\"],\"still_sizes\":[\"w92\",\"w185\",\"w300\",\"original\"]},\"change_keys\":[\"adult\",\"also_known_as\",\"alternative_titles\",\"biography\",\"birthday\",\"budget\",\"cast\",\"character_names\",\"crew\",\"deathday\",\"general\",\"genres\",\"homepage\",\"images\",\"imdb_id\",\"name\",\"original_title\",\"overview\",\"plot_keywords\",\"production_companies\",\"production_countries\",\"releases\",\"revenue\",\"runtime\",\"spoken_languages\",\"status\",\"tagline\",\"title\",\"trailers\",\"translations\"]}"
  recorded_at: Wed, 05 Mar 2014 15:17:57 GMT
recorded_with: VCR 2.8.0
